<!DOCTYPE html>
<html>
<head>
<title>A Little Bit About Water Conservation</title>
</head>
<body>


<h1><a href="{% url 'issue_list' %}">Home</a></h1>

<h1>Water conservation is the practice of using water efficiently to reduce unnecessary water usage.
  According to Fresh Water Watch, water conservation is important because fresh clean water
  is a limited resource, as well as a costly one. As a homeowner, you’re probably already well
  aware of the financial costs of inefficient water use. Conservation of this natural resource
  is critical for the environment — and our wallets.</h1>
<p>The majority of household water use comes from toilets, washing machines, showers, baths, faucets and leaks, but what you can do to save water is fairly simple. These 10 water-saving tips will put you on the path to conserving water in your household.

    Put a brick in your toilet’s water tank. You flush an average of 20 gallons of water a day down the toilet. If you don’t have a high-efficiency toilet, try filling your tank with something that will displace some of that water, such as a brick.
    Use the right amount of water for each load of laundry. Typically 15-40 percent of indoor home water use comes from doing laundry. Save water by making sure to adjust the settings on your machine to the proper load size.
    Pick your washing machine wisely. When considering top-load vs. front-load washers, front-loading washing machines generally use less water.
    Water plants wisely. Water your lawn or garden early in the morning or late in the evening, so the water lasts and is not immediately evaporated by the hot sun.
    Install a low-flow showerhead. With a low-flow showerhead, you can save 15 gallons of water during a 10-minute shower.
    Check for and repair leaks. An average of 10,000 gallons of water is wasted every year due to household leaks. One of the most effective ways to cut your water footprint is to repair leaky faucets and toilets.
    Use a dishwasher. Dishwashing accounts for less than 2 percent of indoor water use, but using a machine is actually more water efficient than hand washing, especially if you run full loads. ENERGY STAR® dishwashers save about 1,600 gallons of water over its lifetime of use.
    Turn off the water. Teach your whole household to turn off the faucet while brushing teeth or shaving. Every little bit of water conservation helps!
    Defrost food in the fridge. Instead of running frozen foods under hot water from the faucet, build in time to let them defrost in the refrigerator.
    Manage outdoor water use. Don’t forget about water conservation outside as well. Equip all hoses with shut-off nozzles, which can prevent hose leaks.

</p>

<div style="text-align: center"> <a href="{% url 'water_campaign_list' %}">See what others are doing to conserve water</a></div><br>
<div style="text-align: center"> <a href="{% url 'water_campaign_new' %}">Start your own campaign!</a></div><br>

</body>
</html>
